@font-face {
    font-family: 'Cafe24Meongi-W-v1.0';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-W-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
}

#wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-wrap {
    width: 50%;
    height: 80%;
    border: 2px solid rgb(223, 119, 119);
    border-radius: 10px;
    text-align: center;
}

.logo {
    color: rgb(223, 119, 119);
    font-family: 'Cafe24Meongi-W-v1.0';
    font-size: 50px;
}

@media all and (max-width:1024px) {
    #login-wrap {
        width: 70%;
    }
}

@media all and (max-width:768px) {
    #login-wrap {
        width: 80%;

    }
}